<div class="well">
  <h2>Filters</h2>
  <div class="row">
    <div class="col-md-2">
      <select (change)="onChangeLevel($event.target.value)">
        <option value="all" selected="selected">All fitness level</option>
        <option value="Easy-Moderate">Easy-Moderate</option>
        <option value="Moderate">Moderate</option>
        <option value="Moderate-Difficult">Moderate-Difficult</option>
        <option value="Strenuous">Strenuous</option>
      </select>
    </div>
    <div class="col-md-2">
      <select (change)="onChangeType($event.target.value)">
        <option  value="all" selected="selected">All Trips</option>
        <option value="day">Day Project</option>
        <option value="extended">Extended Trip</option>
        <option value="short">Short Trip</option>
      </select>
    </div>
  </div>
</div>

<div *ngFor="let hikeProject of hikeProjects | async | level:filterByLevel | tripType:filterByType">
  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top" src={{hikeProject.imageUrl}} alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">{{hikeProject.name}}</h4>
        <p class="card-text">
          {{hikeProject.type}} | {{hikeProject.fitnessLevel}}
        </p>
        <a (click)='goToDetailHikeProject(hikeProject)' class="btn btn-primary">See details</a>
        <div *ngIf="currentRoute === '/admin'">
          <div class="row">
            <div class="col-md-8">
              <br>
              <button type="button" (click)="updateHikeProject(hikeProject)" class="btn btn-success">Update</button>
              <button type="button" (click)="deleteHikeProject(hikeProject)" class="btn btn-danger">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
