<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h4>Please fill out the below form to create a new project</h4><br>
    <label>Name</label>
    <input class="form-control" [(ngModel)]="hikeProjectToUpdate.name">
    <label>Start Date</label>
    <input class="form-control" [(ngModel)]="hikeProjectToUpdate.startDate">
    <label>End Date</label>
    <input class="form-control" [(ngModel)]="hikeProjectToUpdate.endDate">
    <label>Region</label>
    <input class="form-control" [(ngModel)]="hikeProjectToUpdate.region">
    <label>ImageUrl</label>
    <input class="form-control" [(ngModel)]="hikeProjectToUpdate.imageUrl">
    <label>Project Type</label>
    <select class="form-control" [(ngModel)]="hikeProjectToUpdate.type">
      <option selected="selected">Day Project</option>
      <option>Extended Trip</option>
      <option>Short Trip</option>
    </select>
    <label>Crew leader</label>
    <input class="form-control" [(ngModel)]="hikeProjectToUpdate.leader">
    <label>Elevation (ft)</label>
    <input class="form-control" [(ngModel)]="hikeProjectToUpdate.elevation">
    <label>Description</label>
    <textarea class="form-control text-style" rows="8" cols="100" [(ngModel)]="hikeProjectToUpdate.description"></textarea><br>
    <label>Fitness Level</label>
    <select class="form-control" [(ngModel)]="hikeProjectToUpdate.fitnessLevel">
      <option selected="selected">Easy-Moderate</option>
      <option>Moderate</option>
      <option>Moderate-Difficult</option>
      <option>Strenuous</option>
    </select>
    <label>Notes about fitness level</label>
    <textarea class="form-control text-style" rows="8" cols="100" [(ngModel)]="hikeProjectToUpdate.fitnessNotes"></textarea><br>
    <label>Total hiking miles per day</label>
    <input class="form-control" [(ngModel)]="hikeProjectToUpdate.totalHiking">
    <label>Max number of volunteers</label>
    <input class="form-control" [(ngModel)]="hikeProjectToUpdate.requiredVolunteers">
    <label>Camping type</label>
    <select class="form-control" [(ngModel)]="hikeProjectToUpdate.campingType">
      <option selected="selected">Back country</option>
      <option>car/tent</option>
      <option>Developed Campground</option>
    </select><br>
    <button type="button" (click)="beginUpdatingProject(hikeProjectToUpdate)" class="btn btn-primary">Update</button>
  </div>
</div>
